<p><%= image_tag 'heroku.png', :size => '300x300' %></p>
<p><%= image_tag 'shipit.jpg', :size => '320x320' %></p>

<h2>Hard Refresh</h2>
<p>Don't forget to 'Hard Refresh' when testing caching behavior</p>

<ul>
  <li>Safari: Hold shift and click refresh</li>
</ul>
