<p><%= image_tag 'heroku.png', :size => '300x300' %></p>
<p><%= image_tag 'shipit.jpg', :size => '320x320' %></p>

<h2>Hard Refresh</h2>
<p>Don't forget to 'Hard Refresh' when testing caching behavior</p>

<ul>
  <li>Chrome:   Hold shift + cmd + R to refresh</li>
  <li>Firefox:  Hold shift + cmd + R to refresh</li>
  <li>Safari:   Hold shift and click refresh</li>
</ul>


<p>

</p>